/Application/*.csproj
/Application/*.sln
/Application/.vs
*.unityproj
*.booproj
*.pidb
*.userprefs
obj
/Application/Library
/Application/Temp
/Application/Builds
/Application/.DS_Store
desktop.ini
desktop.ini.meta
ServerStub/sessions/*
ServerStub/stdout.log
.DS_Store
/Application/Assets/Scenes/UITests/testUI.unity
/Application/*.suo
/Application/*.user
/Application/TapjoyXcodeUpdatePostBuild.log
/Application/Assets/Editor/PostprocessBuildPlayer
/Application/Assets/Editor/PostprocessBuildPlayer_Tapjoy


/EmptyUnityProject/Library
/EmptyUnityProject/Temp
/EmptyUnityProject/Builds
/EmptyUnityProject/.DS_Store
/EmptyUnityProject/*.suo
/EmptyUnityProject/*.user
/EmptyUnityProject/*.csproj
/EmptyUnityProject/*.sln

/shaders_sandbox/Library
/shaders_sandbox/Temp
/shaders_sandbox/Builds
/shaders_sandbox/.DS_Store
/shaders_sandbox/*.suo
/shaders_sandbox/*.user
/shaders_sandbox/*.csproj
/shaders_sandbox/*.sln

# UnityVS plugin
Application/Assets/UnityVS*
*.DotSettings

#plugins
Application/Assets/Editor/PostprocessBuildPlayer
Application/Assets/Editor/PostprocessBuildPlayer_Tapjoy

ServerStub/web/*.pyc
ServerStub/web/wsgiserver/*.pyc
